@{
    ViewData["Title"] = "Contact";
}
<h2 class="yellowFont">@ViewData["Title"]</h2>


<address class="yellowFont">
    <strong>Questions or Support:</strong> <a href="mailto:matthyman03@gmail.com" class="yellowFont">Matthyman03@gmail.com</a><br />
</address>
