@{
    ViewData["Title"] = "Home";
}

@model OverripeBananas.Models.ShowGenreViewModel

<head>
    <script src="~/js/site.js"></script>
</head>


<h1 class="yellowFont">Overripe Bananas!</h1><br/>

<h4 class="yellowFont">All of your favorite shows, reviewed!</h4><br/><br/>

<img src="~/images/Bananas.jpg" alt="bananas" style="border: 4px inset yellow;"/>
